# dependencies
node_modules/

# app build artifacts
/dist
/release
/dist/renderer
/src/renderer/dist

# application data
PeachyKareoke/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
